<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transcriber</title>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/index.css')}}"/>
</head>
<body style="background-color:black;color:white;font:20px;">
<div id="speechContainer">
    <h1>Upload new File</h1>
    <form method="post" enctype="multipart/form-data"/>
        <input type="file" name="file"/>
        <br>
        <input type="submit" value="Transcribe"/>

    </form>
    {%if transcript != "" %}
    <div id="speechTranscriptContainer">
        <h1>Transcribed Audio Text</h1>
        <p>{{transcript}}</p>
    </div>
    {% endif %}
</div>

</body>
</html>